*{margin: 0; padding: 0;}
body{color: #fff; font-size: 16px; font-family: 'IBM Plex Sans KR', sans-serif;}
a{text-decoration: none; color: #fff;}
ul{list-style: none;}

#top_bg{width: 100%; height: 753px; 
    background: black;
    background-size: cover;
   position: relative;
   text-align: center;
  }
  .tittle{position: absolute; left: 50%; top: 35%; font-size: 154px; transform: translateX(-50%); letter-spacing: 5px; width: 1300px;}
  
  #top{width: 100%; height: 150px; background: rgba(255, 255, 255, 0.5);}
  .top_inner{width: 1320px; height: 150px; margin: 0 auto; }
  .nav{text-align: center; padding: 30px 0 0 55px; 
  }
  .nav li{float:left;}
  .nav li a{display:block; font-size: 25px; text-transform: uppercase; letter-spacing: 3px; padding: 20px 50px; font-weight: 700;}

#wrap{width: 100%;height: 1920px; background-size: cover; }
.item{width: 1920px; height: 1920px; margin: auto; display: block;}
.item li{float: left; width: 33.3%; height: 640px; display: block; background-size: cover;}
.item li:nth-child(1){background: url(../images/item1.png) center left no-repeat; background-size: cover; position: relative;}
.box1{position: absolute; top: 100px; left: 310px;}
.item li:nth-child(2){background: url(../images/item2.png) center left no-repeat; background-size: cover; position: relative;}
.box2{position: absolute; top: 100px; left: 320px;}
.item li:nth-child(3){background: url(../images/item3.png) center left no-repeat; background-size: cover; position: relative;}
.box3{position: absolute; top: 100px; left: 320px;}
.item li:nth-child(4){background: url(../images/item4.jpg) center left no-repeat; background-size: cover; position: relative;}
.box4{position: absolute; left: 320px; top: 200px;}
.item li:nth-child(5){background: url(../images/item5.jpg) center left no-repeat; background-size: cover; position: relative;}
.box5{position: absolute; left: 330px; top: 200px;}
.item li:nth-child(6){background: url(../images/item6.jpg) center left no-repeat; background-size: cover; position: relative;}
.box6{position: absolute; left: 330px; top: 200px;}
.item li:nth-child(7){background: url(../images/item7.jpg) center left -100px no-repeat; background-size: cover; position: relative; background-color: #f68273;}
.box7{position: absolute; left: 220px; top: 220px;}
.item li:nth-child(8){background: url(../images/item8.jpg) center left -70px no-repeat; background-size: cover; position: relative; background-color: #464e72;}
.box8{position: absolute; left: 220px; top: 220px;}
.item li:nth-child(9){background: url(../images/item9.jpg) center left -25px no-repeat; background-size: cover; position: relative; background-color: #f68273; position: relative;}
.box9{position: absolute; left: 300px; top: 220px;}
.itemtittle{font-size: 40px;}
.text1{font-size: 30px;}
.iteminfo{font-size: 25px;}
.iteminfo2{font-size: 20px;}
.iteminfo3,.color{font-size: 25px;}
.price{font-size: 35px;}

.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9{width: 600px; height: 300px;}


#footer{width: 100%; height: 362px; background: url(../images/footer.png) center top no-repeat; background-size: cover;position: relative;}
.footer_inner{width: 1320px; height: 382px; margin: 0 auto; }
.logo{position: absolute; left: 50%; top:35%; transform: translateX(-50%);}
.info{position: absolute; left: 50%; top: 52%; transform: translateX(-50%); padding: 0 0 0 30px; height: 15px; width: 600px; margin: auto;}
.location{position: absolute; left: 50%; top: 65%; transform: translateX(-50%); font-size: 18px; font-weight: 600; text-align: center; height: 15px; width: 600px; margin: auto; line-height: 35px;}
.info li{float: left;}
.info li a{color: rgba(255,255,255,1); font-size: 18px; font-weight: 600; text-align: center; transition: all 1s; display: inline-block; padding: 0 15px;}
.info a:hover{color: #FAFFDB;}
